/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

body.box_layout {
    background-color: #f0f0f0;
}
body.box_layout #page{
    margin: 0 25px;
    background-color: #ffffff;
    -moz-box-shadow: 0 1px 3px 1px rgb(128 128 128 / 27%);
    -webkit-box-shadow: 0 1px 3px 1px rgb(128 128 128 / 27%);
    -o-box-shadow: 0 1px 3px 1px rgb(128 128 128 / 27%);
    -ms-box-shadow: 0 1px 3px 1px rgb(128 128 128 / 27%);
    box-shadow: 0 1px 3px 1px rgb(128 128 128 / 27%);
}
body.box_layout #page{
    margin: 0 15px;
    max-width: 100%;
}
body.box_layout .container{
    padding-left: 15px;
    padding-right: 15px;
} 

@media (min-width: 768px){
    body.box_layout #page{
        margin: 0 25px;
    }
    body.box_layout .container{
        padding-left: 25px;
        padding-right: 25px;
    } 
} 
@media (min-width: 992px){
    body.box_layout #page{
        margin: 0 50px;
    }
} 
@media (min-width: 1720px){
    body.box_layout #page{
        margin: 0 100px;
    }
} 
@media (max-width: 575px){
    body.box_layout #page{
        margin: 0px;
    }
}