.ps-socialfollow-discord {
  background-image: url('https://demos.codezeel.com/prestashop/PRS22/PRS220546/default/modules/ps_socialfollow/assets/icon/discord.svg');
  background-position: 50%;
  background-size: 2rem auto;
}
